html{
    min-height:100%; /* make sure it is at least as tall as the viewport */
    position:relative;
}

body {
    /* height:13000px; */
    color: #777777;
    background-image: url('../images/light-grey-terrazzo.png');
    font-family: 'Times New Roman', Times, serif;
    /* overflow: auto; */
    margin-bottom: 60px;
  }

.container {
    /* width: 960px; */
    /* overflow: auto; */
    /* height: 100%; */
}

.row {
    /* width: 960px; */
}

nav {
    background-color: #ffffff;
}

.maincontent {
    background-color: #ffffff;
    border: 2px solid #dddddd;
    height: 100%;
}

h1, h2 {
    color: #4aaaa5;
}

.navbar-text {
    background-color: #4aaaa5;
}

.borderright {
    border-right: 1px solid #dddddd;
}

#aboutme {
    border-bottom: 2px solid #dddddd;
}

nav {
    background-color: #ffffff;
    border-bottom: solid #cccccc;
}

.navbarcolor {
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #4aaaa5;
    color: white;
    margin-top: 10px;
  }

textarea {
    resize: none;
}

.btn {
    background-color: #4aaaa5;
    color: #ffffff;
}